:root {
  --primary: #5f03c8;
  --secondary: #1826a6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary);
  color: black;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.logo .logokiri {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: auto;
}

.logo .logokanan {
  position: absolute;
  top: 0;
  right: 0;
  width: 10rem;
  height: auto;
  transform: translateX(10rem);
  transition: transform 0.4s ease;
}

.nav-toogle {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.8rem;
  height: 8rem;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(0.4rem);
  border-radius: 0 0.6rem 0.6rem 0;
  cursor: pointer;
  transition: background 0.3s ease, left 0.4s ease;
  z-index: 999;
}

.nav-toggle:hover {
  background: rgba(255, 255, 255, 0.5);
}

.sidebar {
  position: fixed;
  top: 0;
  left: -15%;
  width: 15%;
  height: 100vh;
  background: rgba(20, 20, 20, 0.8);
  backdrop-filter: blur(1rem);
  transition: left 0.4s ease;
}

.hero .bg img {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.info {
  position: absolute;
  right: 0;
  bottom: 15%;
  width: 30rem;
}

.info .text {
  padding: 3rem 2rem 3rem;
  background: linear-gradient(
    to left,
    rgba(44, 30, 30, 0.7),
    rgba(44, 30, 30, 0)
  );
  color: white;
  font-size: 5rem;
  font-weight: 700;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  transform: translateY(0);
  transform: translateX(0);
  transition: width 0.7s ease, transform 0.8s ease, padding-left 0.8s ease;
}

.info .text p {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(0);
  transition: opacity 0.8s ease, max-height 0.8s ease, transform 0.8s ease;
  font-size: 1.8rem;
  font-weight: 200;
  text-align: justify;
}

.info:hover {
  width: 50rem;
  padding-left: 10rem;
}

.info .text:hover {
  transform: translateY(0);
}

.info .text:hover p {
  opacity: 1;
  max-height: 500px;
  transform: translateY(0);
}

.foot-bg {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 1.2rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(0.2rem);
  -webkit-backdrop-filter: blur(0.2rem);
  color: white;
  text-align: center;
  transform: translateX(0);
  transition: width 0.4s ease;
}

.foot-bg p {
  font-size: 1.8rem;
}
